<div class="container" style="width:35%;">
  <div class="jumbotron">
    <div class="container">
      <p>
        <strong>URLminder</strong> lets you connect to <strong><a href="https://www.beeminder.com">Beeminder</a></strong> and set up a goal to beemind the number of words you publish at one or more publicly accessible URLs.
      </p>
    </div>
  </div>
  <% if flash[:notice] %>
    <div id="flash" class="alert alert-info"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:error] %>
    <div id="flash" class="alert alert-danger"><%= flash[:error] %></div>
  <% end %>
  <% if current_user && current_user.has_token %>
    <div class="well" id="connection">
      You are connected to Beeminder as <%= current_user.username %>. Huzzah!
    </div>
    <% if current_user.goals.present? %>
      <div class="well" id="goals">
        <div id="spinner"></div>
        <% current_user.goals.each do |g| %>
          <div class="goal">
            <div class="info">
              <%= link_to "#{g.shortname}", "https://www.beeminder.com/#{g.shortname}", :title => "Tracking #{g.urls.join(',')}" %>
              <span class="refreshed-at">Refreshed <%= g.refreshed ? time_ago_in_words(g.refreshed) + " ago" : "never" %></span>
            </div>
            <div class="goal-buttons">
              <%= link_to "Refresh", "/#{g.shortname}/refresh", :class => "btn btn-primary refresh-goal" %>
              <%= link_to "Edit", "#", :class => "edit-goal btn btn-primary", 
                "data-username" => current_user.username,
                "data-slug" => g.slug,
                "data-urls" => g.urls.join(",") %>
            </div>
            <div class="clear"></div>
          </div>
          
        <% end %>
      </div>
      <div class="modal fade" id="edit-goal-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Edit goal</h4>
            </div>
            <div class="modal-body">
              <%= form_for :edit_goal, :url => "/goals/update", :html => { :role => "form", :class => "form-horizontal", :id => "edit-goal" } do |f| %>
                <div class="form-group">
                  <p>Change the goal's rate and title on <%= link_to "Beeminder", "#", :id => "edit-on-beeminder" %>
                  </p>
                </div>
                <input type="hidden" name="slug" value="" />
                <%= render :partial => "url_fields" %>
                <button class="btn btn-primary" id="add-goal">Update Goal</button>
                <div class="clear"></div>
              <% end %>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    <% else %>
      <div class="well">
        You haven't added any goals for URLminder to update
      </div>
    <% end %>
    
    <div id="new-goal-container" class="well">
      <h4>Add a new goal</h4>
      <%= form_for Goal.new, :html => { :role => "form", :class => "form-horizontal" } do |f| %>
        <div class="form-group">
          <%= f.label "Words added per week", :for => :goal_rate, :class => "col-lg-5 control-label" %>
          <div class="col-lg-3">
            <%= f.text_field :rate, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label "Goal title", :for => :title, :class => "col-lg-5 control-label" %>
          <div class="col-lg-6">
            <%= f.text_field :title, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label "Goal slug", :for => :goal_slug, :class => "col-lg-5 control-label" %>
          <div class="col-lg-6">
            <%= f.text_field :slug, :class => "form-control" %>
          </div>
        </div>
        <%= render :partial => "url_fields" %>
        <button class="btn btn-primary" id="add-goal">Create Goal</button>
        <div class="clear"></div>
      <% end %>
    </div>
  <% else %>
    <div class="well" id="connection">
      <a href="/auth/beeminder" class="btn-primary btn">Connect to Beeminder</a>
    </div>
  <% end %>
  <div class="well" id="api">
    <h3>API</h3>
    <p>
      URLminder will (soon) refresh goals once per 24 hour period, but it might not do so at the time you want it to (like right before midnight in your time zone so that you don't derail). 
    </p>
    <p>
      You can trigger a refresh for any goal by issuing a GET to https://urlminder.herokuapp.com/[your-username]/[goal-slug]/refresh, so point cron at that (gently). 
    </p>
    <p>
      If that whets your appetite, URLminder is <a href="https://github.com/beeminder/urlminder">open source</a>, so tinker away. 
    </p>
  </div>
</div>